*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; 
}

body {
    box-sizing: border-box;
    // background-color: #2a6d7ecc;
    background-image: linear-gradient(to right bottom, rgba(44, 62, 80, 0.9), hsla(188, 39%, 49%, 0.902)), url(/img/house.jpg);
    background-size: cover;
}

.form {
    height: 100vh;
}

.container {
    height: 1200px;
    width: auto;
}



