.container-inner {
    height: 100vh;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1rem 6rem 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 1.2rem;
    
}


.firstForm {
    grid-row: 2 / 3;
    width: 27rem;
    margin: 0.1rem 0.5rem;
    position: relative;
    animation: moveUp 2s ease-out;
    display: none;
    &__container {

        background-color: rgba($color-grey-dark-2, 0.4);
        border-radius: 1rem;
        padding: 1rem 0;
        margin-bottom: 2rem;
             
    }

    label {
        display: block; 
        font-weight: 200;
        margin-left: 2rem;
        font-size: 1.2rem;
        padding: .5 rem;
    }

    input {
        border: none;
        font-size: 2rem;
        margin: 1rem 1.5rem;
        padding: 0.5rem 1.5rem;
        background-color: $color-grey-light-2;
        border-radius: 1rem;  
        -webkit-appearance: textfield;
        &:focus {
            outline: none;
        }
    }

   }

.call-modal { 
    grid-row: 2/3;
    // grid-column: 2 / 3;
    @include button;
    justify-self: center;
}
   
  
  


